
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    text-transform: uppercase;

    
    background: $background-linear-1;
    background: $background-linear-2;
    background: $background-linear-3;
   
    color: $color-fonts-white;
    transition:  all 0.3s ease;

}