.hero {
    // background: $color-background-primary;
    background-image: url('../img/HeroSection-compressed.jpg');
    // background-color: $linearGradient;
    // padding: 200px 0;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}