.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer__link--wrapper {
    display: flex;
}
.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}
.footer__link--items h2 {
    margin-bottom: 16px;
    color: $color-fonts-white;
}
.footer__link--items a {
    color: $color-fonts-white;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}
.footer__link--items a:hover{
    color: $color-hover;
    transition: 0.3 ease-out;
}
.social__icon--link {
    color: $color-fonts-white;
    font-size: 24px;
}