.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;

}
.social__icons {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    width: 204px;
}
.website__rights {
    color: $color-fonts-white;
}